
.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input{
    background: linear-gradient(45deg, coral, darkred, lightcoral);
    color: white;
    padding: 1rem 10rem 1rem .25rem;
    outline: 0;
    border-radius: 5px;


}
input[placeholder]{
    background-color: white;
    color: white;  
}

.results{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: left;
    padding: 1rem;
    color: rgb(61, 57, 57);
    margin: 1rem auto 0 auto;

}
.results li{
    font-size: 1rem;
    letter-spacing: 2px;
}