.result-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin: .5rem;
    padding: 1rem;
}

.poster-wrapper, img{
    max-width: 100%;
    height: auto;
}

.temp-poster{
    background-color: rgb(248, 248, 182);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    max-width: 100%;

}
.card{
    position: relative;
}
.card .overlay{
    position: fixed;
    border: 2px solid red;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}
.inner-card-controls{
    position: absolute;
    bottom: 30px;
    right: 50%;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    display: flex;
    opacity: 0;
}
.card:hover .inner-card-controls{
    opacity: 1;
} 
.ctrl-btn{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 0;
    box-shadow: inset 1px 2px rgba(0, 0, 0, 0.3);
}
.ctrl-btn:hover{
    background: inherit;
    color: green;
    cursor: pointer;
}
.ctrl-btn:hover.del{
    background: inherit;
    color: red;
    cursor: pointer;
}

.info{
    margin: 1rem auto; 
    padding: 0;
    text-align: center;

}

.header{
    display: grid;
    margin: .5rem auto;
}

.title{
    padding: 0;
}
.release-date{
    font-weight: 400;
}

.controls button{
    padding: .8rem 2rem;
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(45deg, coral, darkred, lightcoral);
}
button[disabled]{
    background: lightslategray;
}


@media (min-width: 600px){
    .result-card{
        grid-template-columns: repeat(2, 1fr);
    }
}